
    <include file="./Apps/Home/View/Public/head.html" />
    <link rel="stylesheet" href="__PUBLIC__/law_home/style/index.css">
    <!-- 轮播大图 -->
    <div class="carousel_figure" id="carousel_figure">
      <!--上一图-->
      <span id="carousel_figure_next"><</span>
      <!--下一图-->
      <span id="carousel_figure_prev">></span>
      <!--切换圆点-->
      <div id="slide_switch" class="mod_slide_switch"></div>
      <ul>
        <li class="active">
          <a href="javascript:;">
            <img src="__PUBLIC__/law_home/img/pic1.jpg">
          </a>
          <div class="focus_text">
            <div class="mask"></div>
            <h4>法学院2016年下半年学生党员拟发展人员公示</h4>
            <p>经法学院党政联席会议11月11日研究决定，以下同学为法学院下半年发展对象，现予以公示，公示期11月30－12月6日，公示期间如有问题请向院党总支（6862927）或党政办（6862560）反映。</p>
          </div>
        </li>
        <li>
          <a href="javascript:;">
            <img src="__PUBLIC__/law_home/img/pic2.jpg">
          </a>
          <div class="focus_text">
            <div class="mask"></div>
            <h4>法学院2016年下半年学生党员拟发展人员公示</h4>
            <p>经法学院党政联席会议11月11日研究决定，以下同学为法学院下半年发展对象，现予以公示，公示期11月30－12月6日，公示期间如有问题请向院党总支（6862927）或党政办（6862560）反映。</p>
          </div>
        </li>
        <li>
          <a href="javascript:;">
            <img src="__PUBLIC__/law_home/img/pic3.jpg">
          </a>
          <div class="focus_text">
            <div class="mask"></div>
            <h4>法学院2016年下半年学生党员拟发展人员公示</h4>
            <p>经法学院党政联席会议11月11日研究决定，以下同学为法学院下半年发展对象，现予以公示，公示期11月30－12月6日，公示期间如有问题请向院党总支（6862927）或党政办（6862560）反映。</p>
          </div>
        </li>
        <li>
          <a href="javascript:;">
            <img src="__PUBLIC__/law_home/img/pic4.jpg">
          </a>
          <div class="focus_text">
            <div class="mask"></div>
            <h4>法学院2016年下半年学生党员拟发展人员公示</h4>
            <p>经法学院党政联席会议11月11日研究决定，以下同学为法学院下半年发展对象，现予以公示，公示期11月30－12月6日，公示期间如有问题请向院党总支（6862927）或党政办（6862560）反映。</p>
          </div>
        </li>
        <li>
          <a href="javascript:;">
            <img src="__PUBLIC__/law_home/img/pic5.jpg">
          </a>
          <div class="focus_text">
            <div class="mask"></div>
            <h4>法学院2016年下半年学生党员拟发展人员公示</h4>
            <p>经法学院党政联席会议11月11日研究决定，以下同学为法学院下半年发展对象，现予以公示，公示期11月30－12月6日，公示期间如有问题请向院党总支（6862927）或党政办（6862560）反映。</p>
          </div>
        </li>
      </ul>
    </div>

    <!-- 正文 -->
    <div class="container text_content">
      <!-- 政法要闻 -->
      <div class="container content_news col-md-8 col-lg-8 col-sm-6 col-xs-12">
        <div class="content_news_box">
          <h2 class="title">{$newsClass['name']}</h2>
          <div class="content_news_main">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 content_news_left">
              <a href="{:U($newsClass['content_template']['url'], ['id'=>$imgNews['content_id']])}">
              <img src="__PUBLIC__/upload/{$imgNews['picurl']}">
                <h2>{$imgNews['title']}</h2>
                <p>{$imgNews['description']}</p>
              </a>
            </div>
            <div class="col-md-6 col-lg-6 hidden-sm hidden-xs">
              <ul class="content_list_bg">

                <volist name="newsList" id="news" offset="0" limit="4" empty="没有数据">
                  <li>
                    <a href="{:U($newsClass['content_template']['url'], ['id'=>$news['content_id']])}" title="{$news.title}">{$news.title}</a>
                    <p><i class="time_icon"></i><span>{$news.uptime|time_tran=###}</span></p>
                  </li>
                </volist>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 通知公告 -->
      <div class="col-md-4 col-lg-4 col-sm-6  hidden-xs content_list_box_bg">
        <div class="content_box_bg">
          <h2 class="title"><a href="{:U($noticeClass['index_template']['url'], ['id'=>$noticeClass['class_id']])}">{$noticeClass['name']}</a></h2>
          <div class="notice_container">
            <ul class="content_list_bg" id="notice">
              <volist name="noticeList" id="notic" empty="没有数据">
                <li>
                  <a title="{$notic['title']}" href="{:U($noticeClass['content_template']['url'], ['id'=>$notic['content_id']])}">{$notic['title']}</a>
                  <p><i class="time_icon"></i><span>{$notic.uptime|date='Y.m.d',###}</span></p>
                </li>
              </volist>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- 教学管理 -->
    <div class="container text_content">
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 content_list_box">
      <div class="content_box">
        <div class="title">
          <h2>{$teachingClass['name']}</h2>
          <a href="{:U($teachingClass['index_template']['url'], ['id'=>$teachingClass['class_id']])}">更多</a>
        </div>
        <ul class="content_list">
          <volist name="teaching" id="teach" offset="0" empty="没有数据">
            <li>
              <a href="{:U($teachingClass['content_template']['url'], ['id'=>$teach['content_id']])}" title="{$teach.title}">{$teach.title}</a>
              <span>{$teach.uptime|time_tran=###}</span>
            </li>
          </volist>

        </ul>
      </div>
    </div>
      <!-- 科学研究 -->
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 content_list_box">
        <div class="content_box">
          <div class="title">
            <h2>{$scienceClass['name']}</h2>
            <a href="{:U($scienceClass['index_template']['url'], ['id'=>$scienceClass['class_id']])}">更多</a>
          </div>
          <ul class="content_list">

            <volist name="scientific" id="scient" offset="0" empty="没有数据">
              <li>
                <a href="{:U($scienceClass['content_template']['url'], ['id'=>$scient['content_id']])}" title="{$scient.title}">{$scient.title}</a>
                <span>{$scient.uptime|time_tran=###}</span>
              </li>
            </volist>

          </ul>
        </div>
      </div>
      <!-- 党团建设 -->
      <div class="col-md-4 col-lg-4 hidden-sm col-xs-12 content_list_box">
        <div class="content_box">
          <div class="title">
            <h2>{$dtjsClass['name']}</h2>
            <a href="{:U($dtjsClass['index_template']['url'], ['id'=>$dtjsClass['class_id']])}">更多</a>
          </div>
          <ul class="content_list">
            <volist name="dtjsList" id="dtjs" offset="0" empty="没有数据">
              <li>
                <a href="{:U($dtjsClass['content_template']['url'], ['id'=>$dtjs['content_id']])}" title="{$dtjs.title}">{$dtjs.title}</a>
                <span>{$dtjs.uptime|time_tran=###}</span>
              </li>
            </volist>

          </ul>
        </div>
      </div>
    </div>

    <!-- 背景 -->
    <div class="bg_pic">
      <div class="mask"></div>
      <div class="warp">
        <h2>{$webInfo.MOTTO}</h2>
        <p>{$webInfo.WEBNAME}</p>
      </div>
    </div>

    <!-- pic -->
    <div class="some_pic">
      <div class="container">
        <ul class="some_pic_box">

          <volist name="hasImgUrl" id="imgUrl" limit="4">
            <li class="col-md-3 col-lg-3 col-sm-4 col-xs-6">
              <a href="{$imgUrl.url}">
                <div class="img_wrapper">
                  <img src="__PUBLIC__/upload/{$imgUrl.logo}" alt="">
                  <div class="img_describe_box">
                    <div class="mask"></div>
                    <h3>
                      <span>{$imgUrl.webname}</span>
                    </h3>
                  </div>
                </div>
              </a>
            </li>
          </volist>

        </ul>
      </div>
    </div>

    <!-- footer -->
    <include file="./Apps/Home/View/Public/footer.html" />


    <script type="text/javascript">
      // 通知公告滚动
      $(function () {
          var $notice = $('#notice');
          setInterval(function () {
              $notice.animate({
                  top: '-70px'
              }, 300,function () {
                  $notice.append($notice.children().first());
                  $notice.css('top', 0);
              })
          }, 3000)
      })
      // 轮播图
      $(function() {
        // 目标索引
        var tagetIndex=0;
        var $carouselFigureWapper = $('#carousel_figure>ul');
        var $carouselFigureItem = $carouselFigureWapper.find('li');
        var itemWidth = $carouselFigureItem.width();
        $carouselFigureWapper.css('width', itemWidth * $carouselFigureItem.length)
        var $imgs = $('#carousel_figure img')
        $imgs.css('width', $(window).width())
        var $slideSwitch = $('#slide_switch');
        $slideSwitch.append('<a href="javascript:;" class="active slide_switch_item" data-p="0"><i></i></a>');
        for(var i=1; i<$carouselFigureItem.length;i++){
            $slideSwitch.append('<a href="javascript:;" class="slide_switch_item" data-p="'+ i +'"><i></i></a>');
        }
        $slideSwitch.find('a').click(function () {
            var $this = $(this);
            toggle(-($this.index() - tagetIndex));
        })
        $(window).resize(function() {
          $imgs.css('width', $(window).width());
          $('#carousel_figure img').css('width', $(window).width());
          itemWidth = $carouselFigureItem.width();
          $carouselFigureWapper.css('width', itemWidth * $carouselFigureItem.length);
          $carouselFigureWapper.css('left', -$carouselFigureWapper.find('li.active').index() * itemWidth)
          $carouselFigureWapper.find('li.active>.focus_text').css({
              left: itemWidth / 2 - $activeFoucsText.width() / 2
          });
        });
        var $activeFoucsText = $carouselFigureWapper.find('li.active>.focus_text');
        $activeFoucsText.animate({
          opacity: 1,
          left: itemWidth / 2 - $activeFoucsText.width() / 2
        }, 300)
        function toggle(offset){
          if(window.toggleing){
            return;
          }
          window.toggleing = true
          var $active = $carouselFigureWapper.find('li.active');
          $active.find('.focus_text').animate({
              opacity: 0,
              left: 0
            }, 300)
          var index = $active.index();

          if(index == 0){
            index = $carouselFigureItem.length
          }
          tagetIndex = (index - offset) % $carouselFigureItem.length;

          $slideSwitch.find('a.active').removeClass('active');
          $slideSwitch.find('a').eq(tagetIndex).addClass('active');
          $carouselFigureWapper.animate({
            left: -tagetIndex * itemWidth
          }, 500, function(){
            $active.removeClass('active');
            var $current = $($carouselFigureItem.get(tagetIndex))
            $current.addClass('active')
            $activeFoucsText = $current.find('.focus_text');
            $activeFoucsText.animate({
              opacity: 1,
              left: itemWidth / 2 - $activeFoucsText.width() / 2
            }, 300, function(){
              window.toggleing = false
            })
          });
        }
        $('#carousel_figure_next').click(function(){
          toggle(1);
        })

        $('#carousel_figure_prev').click(function(){
          toggle(-1);
        })
        setInterval(function () {
            toggle(-1);
        }, 5000)
      })

    </script>
