<include file="./Apps/Home/View/Public/head.html" />
<link rel="stylesheet" href="__PUBLIC__/law_home/style/content.css">
<!-- content -->
<div class="content">
  <div class="container">
      <div class="content_box">
          <div class="right_header">
              <ul class="breadcrumb">
                  <li><a href="#">首页</a>/</li>
                  <li><a href="#">学院资讯</a>/</li>
                  <li><a href="#">通知公告</a>/</li>
                  <li class="active">正文</li>
              </ul>
          </div>
          <div class="content_main">
              <div class="title">
                  <h2>关于申请助学金的通知</h2>
                  <span>作者：北京大学考古文博学院</span>
                  <span>2017.03.29</span>
                  <span>点击量：1843次</span>
              </div>
              <div class="content_article">
                  ewrwerewrwerewrwerewrwerewrwerewrwer
              </div>
          </div>
      </div>
  </div>
</div>
<include file="./Apps/Home/View/Public/footer.html" />