<include file="./Apps/Home/View/Public/head.html" />

    <!-- big Img -->
    <div class="big_img">

    </div>
    <!-- content -->
    <div class="content">
      <div class="container">
        <div class="hidden-xs col-lg-3 col-sm-3 col-md-3 left">
          <h2 class="title">学院资讯</h2>
          <ul>
            <li><a class="active" href="javascript:;">通知公告</a></li>
            <li><a href="javascript:;">通知公告</a></li>
            <li><a href="javascript:;">通知公告</a></li>
            <li><a href="javascript:;">通知公告</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-lg-9 col-sm-9 col-md-9 right">
          <div class="right_header">
            <ul class="breadcrumb">
              <li><a href="#">首页</a>/</li>
              <li><a href="#">学院资讯</a>/</li>
              <li class="active">通知公告</li>
            </ul>
          </div>
          <div class="right_main">
            <ul>
              <li>
                <a href="javascript:;">北京大学图书馆考古文博学院分馆的前身</a>
                <span>7个月前</span>
              </li>
              <li>
                <a href="javascript:;">北京大学图书馆考古文博学院分馆的前身</a>
                <span>7个月前</span>
              </li>
              <li>
                <a href="javascript:;">北京大学图书馆考古文博学院分馆的前身</a>
                <span>7个月前</span>
              </li>
              <li>
                <a href="javascript:;">北京大学图书馆考古文博学院分馆的前身</a>
                <span>7个月前</span>
              </li>
              <li>
                <a href="javascript:;">北京大学图书馆考古文博学院分馆的前身</a>
                <span>7个月前</span>
              </li>
              <li>
                <a href="javascript:;">北京大学图书馆考古文博学院分馆的前身</a>
                <span>7个月前</span>
              </li>
              <li>
                <a href="javascript:;">北京大学图书馆考古文博学院分馆的前身</a>
                <span>7个月前</span>
              </li>
            </ul>
            <!-- 分页 -->
            <div class="page_body">
              <ol class="page">
                <li><a href="javascript:;">上一页</a></li>
                <li><a class="active" href="javascript:;">1</a></li>
                <li><a href="javascript:;">2</a></li>
                <li><a href="javascript:;">3</a></li>
                <li><a href="javascript:;">下一页</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
<include file="./Apps/Home/View/Public/footer.html" />
